
    body {
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        
    }
      
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    .card {
        width: 16rem;
        overflow: hidden;
    }
    .navbar-brand img{
        width: 50px;
        height: auto;

    }
    #pag2-img{
        padding: 5%;
    }



